
/* 카드박스 디자인 */

.card_box {
    width: 100%;
    border-radius: 16px;
    padding: 26px;
    color: #111;
    background-color: #fff;
}

.card_box > span + *{
    margin-top:30px;
    margin-bottom: 15px;
}

.title_h2 {
    font-size: 16px;
    font-weight: 700;
    color: #111;
}

.title_sub {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

@media screen and (max-width: 1279px ) {
    
}
@media screen and (max-width: 10723px ) {
    .card_box {
        border-radius: 1rem;
        padding: 2rem;
    }

}
@media screen and (max-width: 767px ) {

}